.aboutContainer {
  background-color: #181818;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(236, 233, 233, 0.2);
  max-width: 800px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.aboutTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.highlight {
  color: #ffcc00;
}

.aboutSubtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.aboutDescription {
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
}
