/* Container for the Projects page */
.projectsContainer {
    background-color: #1E1B2E; /* Deep Purple Gray */
    color: #F3F4F6; /* Very Light Gray */
}

.projectsTitle {
    color: #F3F4F6; /* Very Light Gray */
}

.projectsText {
    color: #F3F4F6; /* Very Light Gray */
}

.projectsButton {
    background-color: #8B5CF6; /* Indigo Purple */
    color: #1E1B2E; /* Deep Purple Gray */
}

.projectsButton:hover {
    background-color: #C084FC; /* Light Purple */
} 